.totals {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.totals > * {
  font-size: 10px;
  margin: 0;
}

.totals > h2 {
  font-size: calc(var(--font-heading-scale) * 10px);
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 12.5px;
}

.totals__total {
  margin-top: .31.25px;
}

.totals__total-value {
  font-size: 11.25px;
}

.cart__ctas + .totals {
  margin-top: 12.5px;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: flex-end;
  }
}
